source https://nuget.pkg.github.com/dotnet-websharper/index.json
source https://api.nuget.org/v3/index.json

storage: none
strategy: min

nuget FSharp.Core
nuget WebSharper
nuget WebSharper.AspNetCore
nuget WebSharper.AspNetCore.WebSocket
nuget WebSharper.FSharp
nuget WebSharper.Charting
nuget WebSharper.UI
nuget WebSharper.ChartJS